  * {
      margin: 0;
      padding: 0;
  }
  
  #landscape {
      display: none;
  }
  
  //  #portrait {
  //    width: 100%;
  //    height: 100%;
  //  }
  //------------------------
  //         themes
  //-------------------------
  $dark: #124267;
  //rgb(18, 66, 103)
  $blue: #459FE3;
  $gray: #8BB5D5;
  //rgb(198, 225, 246)
  $light_b:#C6E1F6;
  $bg: #E8F1F2;
  //rgb(232, 241, 242)
  $green: #48D4D1;
  //rgb(72, 212, 209)
  //--- end .default ---
  //------------------------
  //     content style
  //------------------------
  html {
      width: 100%;
      height: 100%;
  }
  
  body {
      width: 100%;
      height: 100%;
  }
  
  //------- index.html ------
  nav {
      //  width: 100%;
      height: 24px;
      padding: 24px 20px;
      font-family: 'Droid Sans', sans-serif;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      div {
          display: inline;
          font-size: 18px;
          margin: 0px 10px;
      }
      .add {
          position: absolute;
          right: 20px;
          -webkit-transition: all 0.3s ease 0.3s;
          transition: all 0.3s ease 0.3s;
      }
      i {
          vertical-align: middle;
          margin: 0px 10px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          -o-transition: transform 0.3s ease;
          transition: transform 0.3s ease;
          &:focus,
          &:hover,
          &:active {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              -webkit-transition: transform 0.3s ease;
              -moz-transition: transform 0.3s ease;
              -o-transition: transform 0.3s ease;
              transition: transform 0.3s ease;
          }
      }
  }
  
  //------- #main ------
  #main {
      font-family: 'Droid Sans', sans-serif;
      width: 100%;
      height: 100%;
      ul {
          width: 100%;
          height: 100%;
          li {
              list-style: none;
              border: solid 1px rgba(18, 66, 103, 0.2);
              padding: 20px;
              height: 36px;
              img,
              h2,
              input {
                  display: inline;
              }
              span {
                  width: 48px;
                  height: 36px;
                  border-radius: 6px;
                  margin-right: 20px;
                  float: left;
              }
              h2 {
                  font-size: 20px;
                  font-weight: 400;
                  margin-top: 10px;
                  vertical-align: middle;
                  clear: both;
              }
              //      ---- remove arrows ----
              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  margin: 0;
              }
              input {
                  width: 78px;
                  height: 24px;
                  letter-spacing: 1px;
                  font-size: 20px;
                  text-align: right;
                  //        padding: 8px 0px;
                  background: transparent;
                  outline: none;
                  border: none;
                  float: right;
              }
              p {
                  width: 120px;
                  font-size: 10px;
                  margin-top: -10px;
                  text-align: right;
                  float: right;
                  clear: both;
              }
              //      -- loc & select > li --
          }
          //    -- end li ---
          //      --- loc & select ---
          .location {
              height: 40px;
          }
          .non-select {
              display: none;
          }
      }
      button {
          padding: 20px;
          width: 100px;
          height: 60px;
          margin: 60px auto;
          display: block;
          border: none;
      }
  }
  
  //-------- #settings_main -----------
  #settings_main {
      ul {
          li {
              border: solid 1px rgba(18, 66, 103, 0.2);
              padding: 20px 30px;
              height: 36px;
              h2 {
                  font-size: 18px;
                  font-weight: 400;
                  margin-bottom: 4px;
              }
              p {
                  font-size: 10px;
                  width: 70%;
              }
              label {
                  width: 50px;
                  height: 16px;
                  box-shadow: inset 0 0 0 30px gray;
                  border-radius: 30px;
                  display: block;
                  top: 110px;
                  right: 30px;
                  position: absolute;
                  z-index: 1;
                  transition: all 300ms ease 0s;
              }
              #switch {
                  position: absolute;
                  top: 110px;
                  right: 40px;
              }
              #switch:before {
                  content: "";
                  position: absolute;
                  top: -6px;
                  right: -12px;
                  height: 26px;
                  width: 26px;
                  border-radius: 50%;
                  display: block;
                  border: none;
                  z-index: 2;
                  box-shadow: inset 0 0 0 40px gray, 0 0 5px 0 gray;
                  transition: all 300ms ease-in 0s;
              }
              #switch:checked:before {
                  right: 20px;
                  //          box-shadow: inset 0 0 0 0 $blue, 0 0 5px 0 gray;
                  transition: all 300ms ease-in 0s;
              }
              //        #switch:checked + label {
              //          box-shadow: inset 0 0 0 0 gray;
              //        }
              h3 {
                  font-size: 18px;
                  font-weight: 400;
                  vertical-align: middle;
                  line-height: 36px;
              }
          }
          .access {
              height: 56px;
          }
      }
  }
  
  //-------- #theme main -----------
  #theme_main {
      width: 100%;
      height: 100%;
      background: white;
      overflow: hidden;
      padding-bottom: 18px;
      li {
          border: solid 1px rgba(18, 66, 103, 0.2);
          padding: 28px 40px;
          height: 50px;
          img {
              height: 48px;
          }
          i {
              display: none;
              color: $green;
              margin: 10px 0;
              float: right;
          }
          i.theme_tick {
              display: inherit;
              list-style: none;
          }
      }
  }
  
  //-------- #edit_main -----------
  nav.nav_gone {
      display: none;
  }
  
  #nav_search {
      display: none;
  }
  
  #nav_search.nav_search {
      display: inherit;
      span {
          margin: 0 10px;
      }
      .edit_text {
          margin: 0;
      }
      .edit_text.edit_text_gone {
          display: none;
      }
      span {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 60px;
      }
      #inpt_search {
          width: 70%;
          padding: 0px 10px;
          position: relative;
          top: -4px;
          left: 30px;
          height: 30px;
          outline: 0px !important;
          background: transparent;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:before {
              content: '';
              border-bottom: solid 2px $bg;
              width: 20px;
              height: 20px;
          }
      }
      #inpt_search.inpt_search_show {
          display: inherit;
          width: 80%;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }
  }
  
  #edit_main {
      li.gone {
          display: none;
      }
      li {
          list-style: none;
          border: solid 1px rgba(18, 66, 103, 0.2);
          padding: 20px;
          height: 36px;
          img,
          div,
          h2 {
              display: inline;
          }
          span {
              width: 48px;
              height: 36px;
              border-radius: 6px;
              margin-right: 20px;
              float: left;
          }
          div {
              width: 80px;
              height: 36px;
              clear: both;
          }
          h2 {
              font-size: 20px;
              font-weight: 400;
              margin-top: 10px;
              clear: both;
          }
          p {
              display: block;
              width: 120px;
              font-size: 10px;
              text-align: left;
              position: relative;
              top: -10px;
              left: 70px;
              //    float: left;
              clear: both;
          }
          i {
              &.ticked {
                  color: $green;
                  position: relative;
                  right: 10px;
              }
              float: right;
              position: relative;
              top: -40px;
              color: rgba(0, 0, 0, 0.5);
          }
      }
      li {
          &.non-selected {
              i {
                  &.material-icons {
                      display: none;
                  }
              }
          }
      }
  }
  
  #about_main {
      font-family: 'Droid Sans', sans-serif;
      width: 100%;
      img {
          width: 100px;
          height: 100px;
          display: block;
          margin: 120px auto 10px;
      }
      h3 {
          margin: 12px auto;
          font-weight: 400;
          text-align: center;
      }
      p {
          font-size: 14px;
          margin-bottom: 8px;
          text-align: center;
      }
  }
  
  #help_main {
      margin: 40px;
      p {
          font-family: 'Droid Sans', sans-serif;
          font-size: 16px;
          margin-bottom: 20px;
      }
  }
  
  //---- landscape ----
  @media only screen and (orientation:landscape) {
      #portrait {
          display: none;
      }
      #landscape {
          font-family: 'Droid Sans', sans-serif;
          display: inherit;
          width: 100%;
          height: 100%;
          color: white;
          .container {
              width: 360px;
              margin: 0 auto;
              display: block;
              padding-top: 120px;
              img {
                  width: 80px;
                  height: 80px;
                  margin-right: 40px;
                  float: left;
              }
              h2 {
                  font-size: 24px;
                  margin: 10px 0 16px;
              }
              p {
                  font-size: 20px;
              }
          }
      }
  }
  /*------ Material Design --------*/
  
  @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(../fonts/iconfont/MaterialIcons-.eot);
      /* For IE6-8 */
      src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      /* Preferred icon size */
      display: inline-block;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;
      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;
      /* Support for IE. */
      font-feature-settings: 'liga';
  }