//Theme_Red
//------ color --------
$dark: #2C3F5A;
$red: #EC5351;
$gray: #E09970;
//rgba(224, 153, 112)
$light_r:#FFD555;
$bg: #FFEFBE;
//rgb(255, 239, 190)
//e.g.rgb(232, 241, 242)
.red {
  background: $bg;
  #landscape {
    background: $red;
  }
  nav {
    background: $dark;
    color: $bg;
    i {
      color: $bg;
    }
  }
  #inpt_search {
    border: none;
    border-bottom: solid 1px $bg;
    color: $bg;
    &::before {
      border-bottom: solid 1px $bg;
    }
  }
  #main {
    ul {
      li {
        .select_input {
          color: $dark;
        }
        .loc_input {
          color: $bg;
        }
        .loc_title {
          color: $bg;
        }
        .select_title {
          color: $dark;
        }
        .loc_p {
          color: rgba(255, 239, 190, 0.8);
        }
        .select_p {
          color: $gray;
          //          color: rgba(224, 153, 112, 0.8);
        }
      }
      .location {
        background: $red;
        //bg
        ::-webkit-input-placeholder {
          color: rgba(255, 239, 190, 0.4);
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: rgba(255, 239, 190, 0.4);
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(255, 239, 190, 0.4);
        }
        :-ms-input-placeholder {
          color: rgba(255, 239, 190, 0.4);
        }
      }
      .selection {
        background: $light_r;
        //gray
        ::-webkit-input-placeholder {
          color: rgba(224, 153, 112, 0.8);
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: rgba(224, 153, 112, 0.8);
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(224, 153, 112, 0.8);
        }
        :-ms-input-placeholder {
          color: rgba(224, 153, 112, 0.8);
        }
      }
    }
    button {
      color: $bg;
      background: $dark;
    }
  }
  //  --- end #main ---
  #settings_main {
    ul {
      li {
        &.tap:hover {
          background: $light_r;
        }
        h3,
        h2,
        p {
          color: $dark;
        }
        label {
          background: $dark;
        }
        #switch::before {
          background: $dark;
          transition: all 300ms ease-in 0s;
        }
        #switch:checked:before {
          box-shadow: inset 0 0 0 0 $dark, 0 0 5px 0 gray;
          transition: all 300ms ease-in 0s;
        }
        #switch:checked + label {
          box-shadow: inset 0 0 0 0 gray;
          transition: all 300ms ease-in 0s;
        }
      }
    }
  }
  #edit_main {
    li {
      h2,
      p {
        color: $dark;
      }
    }
  }
  #about_main {
    color: $dark;
  }
  
  #help_main {
    color: $dark;
  }
}