  //------Theme_Default
  $dark: #124267;
  //rgb(18, 66, 103)
  $blue: #459FE3;
  $gray: #8BB5D5;
  //rgb(198, 225, 246)
  $light_b:#C6E1F6;
  $bg: #E8F1F2;
  //rgb(232, 241, 242)
  $green: #48D4D1;
  //rgb(72, 212, 209)
  .default {
    background: $bg;
    #landscape {
      background: $blue;
    }
    
    nav {
      background: $dark;
      color: $bg;
      i {
        color: $bg;
      }
    }
    #inpt_search {
      border: none;
      border-bottom: solid 1px $bg;
      color: $bg;
      &::before {
        border-bottom: solid 1px $bg;
      }
    }
    #main {
      ul {
        li {
          .select_input {
            color: $dark;
          }
          .loc_input {
            color: $bg;
          }
          .loc_title {
            color: $bg;
          }
          .select_title {
            color: $dark;
          }
          .loc_p {
            color: rgba(232, 241, 242, 0.8);
          }
          .select_p {
            color: rgba(18, 66, 103, 0.4);
          }
          //      ---- placeholder style ----
          ::-webkit-input-placeholder {
            //        color: $bg;
            color: rgba(232, 241, 242, 0.8);
          }
          :-moz-placeholder {
            /* Firefox 18- */
            color: rgba(232, 241, 242, 0.8);
          }
          ::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(232, 241, 242, 0.8);
          }
          :-ms-input-placeholder {
            color: rgba(232, 241, 242, 0.8);
          }
        }
        .location {
          background: $blue;
        }
        .selection {
          background: $light_b;
        }
      }
      button {
        color: $bg;
        background: $dark;
      }
    }
    //  --- end #main ---
    #settings_main {
      ul {
        li {
          &.tap:hover {
            background: $light_b;
          }
          h3,
          h2,
          p {
            color: $dark;
          }
        }
      }
      label {
        background: $dark;
      }
      #switch::before {
        background: $dark;
        transition: all 300ms ease-in 0s;
      }
      #switch:checked:before {
        box-shadow: inset 0 0 0 0 $dark, 0 0 5px 0 gray;
        transition: all 300ms ease-in 0s;
      }
      #switch:checked + label {
        box-shadow: inset 0 0 0 0 gray;
      }
    }
    #edit_main {
      li {
        h2,
        p {
          color: $dark;
        }
      }
    }
    #about_main {
      color: $dark;
    }
    #help_main {
      color: $dark;
    }
  }