/* line 11, theme_pink.scss */
.pink {
  background: #faeddd;
}
/* line 13, theme_pink.scss */
.pink #landscape {
  background: #f18584;
}
/* line 16, theme_pink.scss */
.pink nav {
  background: #431834;
  color: #faeddd;
}
/* line 19, theme_pink.scss */
.pink nav i {
  color: #faeddd;
}
/* line 24, theme_pink.scss */
.pink #inpt_search {
  border: none;
  border-bottom: solid 1px #faeddd;
  color: #faeddd;
}
/* line 28, theme_pink.scss */
.pink #inpt_search::before {
  border-bottom: solid 1px #faeddd;
}
/* line 36, theme_pink.scss */
.pink #main ul li .select_input {
  color: #431834;
}
/* line 39, theme_pink.scss */
.pink #main ul li .loc_input {
  color: #faeddd;
}
/* line 42, theme_pink.scss */
.pink #main ul li .loc_title {
  color: #faeddd;
}
/* line 45, theme_pink.scss */
.pink #main ul li .select_title {
  color: #431834;
}
/* line 48, theme_pink.scss */
.pink #main ul li .loc_p {
  color: rgba(250, 237, 221, 0.8);
}
/* line 51, theme_pink.scss */
.pink #main ul li .select_p {
  color: rgba(159, 99, 98, 0.8);
}
/* line 55, theme_pink.scss */
.pink #main ul .location {
  background: #f18584;
}
/* line 58, theme_pink.scss */
.pink #main ul .location ::-webkit-input-placeholder {
  color: rgba(250, 237, 221, 0.4);
}
/* line 61, theme_pink.scss */
.pink #main ul .location :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(250, 237, 221, 0.4);
}
/* line 65, theme_pink.scss */
.pink #main ul .location ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(250, 237, 221, 0.4);
}
/* line 69, theme_pink.scss */
.pink #main ul .location :-ms-input-placeholder {
  color: rgba(250, 237, 221, 0.4);
}
/* line 73, theme_pink.scss */
.pink #main ul .selection {
  background: #f9bebd;
}
/* line 76, theme_pink.scss */
.pink #main ul .selection ::-webkit-input-placeholder {
  color: rgba(159, 99, 98, 0.4);
}
/* line 79, theme_pink.scss */
.pink #main ul .selection :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(159, 99, 98, 0.4);
}
/* line 83, theme_pink.scss */
.pink #main ul .selection ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(159, 99, 98, 0.4);
}
/* line 87, theme_pink.scss */
.pink #main ul .selection :-ms-input-placeholder {
  color: rgba(159, 99, 98, 0.4);
}
/* line 92, theme_pink.scss */
.pink #main button {
  color: #faeddd;
  background: #431834;
}
/* line 101, theme_pink.scss */
.pink #settings_main ul li.tap:hover {
  background: #f9bebd;
}
/* line 106, theme_pink.scss */
.pink #settings_main ul li h3,
.pink #settings_main ul li h2,
.pink #settings_main ul li p {
  color: #431834;
}
/* line 109, theme_pink.scss */
.pink #settings_main ul li label {
  background: #431834;
}
/* line 112, theme_pink.scss */
.pink #settings_main ul li #switch::before {
  background: #431834;
  transition: all 300ms ease-in 0s;
}
/* line 116, theme_pink.scss */
.pink #settings_main ul li #switch:checked:before {
  box-shadow: inset 0 0 0 0 #431834, 0 0 5px 0 gray;
  transition: all 300ms ease-in 0s;
}
/* line 120, theme_pink.scss */
.pink #settings_main ul li #switch:checked + label {
  box-shadow: inset 0 0 0 0 gray;
  transition: all 300ms ease-in 0s;
}
/* line 130, theme_pink.scss */
.pink #edit_main li h2,
.pink #edit_main li p {
  color: #431834;
}
/* line 135, theme_pink.scss */
.pink #about_main {
  color: #431834;
}
/* line 139, theme_pink.scss */
.pink #help_main {
  color: #431834;
}
